@page
@model AvailablePuppiesModel
@{
    ViewData["Title"] = "Available Puppies";
}
<div class="text-center">
    <h1 class="display-4">Ember's Litter</h1>
    <p class="text-center">Our beautiful female Ember just recently gave birth to a litter of seven cute puppies!</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/EmbersLitter.jpg"
            alt="Our Ember nursing her seven puppies." width="800" height="600">
    </div>
    <p class="text-center">Angie & Baron</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/EmbersPupAngie.jpg"
            alt="Goldendoodle puppy named Angie." width="600" height="400">
        <img class="puppy-img" src="~/img/EmbersPupBaron.jpg"
            alt="Goldendoodle puppy named Baron." width="600" height="400">
    </div>
    <p class="text-center">Collin & Jasmine</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/EmbersPupCollin.jpg"
            alt="Goldendoodle puppy named Collin." width="600" height="400">
        <img class="puppy-img" src="~/img/EmbersPupJasmine.jpg"
            alt="Goldendoodle puppy named Jasmine." width="600" height="400">
    </div>
    <p class="text-center">Joseph & Roxy</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/EmbersPupJoseph.jpg"
            alt="Goldendoodle puppy named Joseph." width="600" height="400">
        <img class="puppy-img" src="~/img/EmbersPupRoxy.jpg"
            alt="Goldendoodle puppy named Roxy." width="600" height="400">
    </div>
    <p class="text-center">Zoe</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/EmbersPupZoe.jpg"
            alt="Goldendoodle puppy named Zoe." width="800" height="600">
    </div>
</div>
