@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Reserve a place on our <a asp-area="" asp-page="/PuppyWaitingList">waiting list</a> today!</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_1957528357_sm.jpg"
            alt="Goldendoodle puppy playing with stuffed animal." width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1754281478_sm.jpg" alt="Goldendoodle puppy playing in the grass."
            width="700" height="500">
    </div>
</div>
