@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page, where all users will first arrive and select other pages.</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_1957528357.jpg"
            alt="Goldendoodle puppy playing with stuffed animal." width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1754281478.jpg" alt="Goldendoodle puppy playing in the grass."
            width="700" height="500">
    </div>
</div>
