@page
@model OurPhilosophyModel
@{
    ViewData["Title"] = "Our Philosophy";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="text-justify">Goldendoodles are a mix between a poodle and a golden retriever. Charles Dickens' great
        granddaughter had a friend who could not see well and trained her dog to be a seeing eye dog for her friend. She
        soon needed a hypoallergenic dog and cross bred her dog with a poodle. The results were outstanding. All the
        intelligence and energy of the poodle were combined with the friendly, affectionate, easy to train nature of the
        golden retriever. It was a match made in heaven!</p>
    <p class="text-justify">Our puppies are a cut above the rest of the pack. Why? No, it's not because of money. We
        truly love our dogs and the joy we see in the faces of the people who come to pick up their puppy. We provide
        our dogs with sanitary, loving environments to produce well adjusted, extremely intelligent, healthy, and happy
        pups. Many breeders will tell you that their dog is like a member of their family. Some of the worst fights and
        arguments begin right at home in the family but we treat your dog not as a mere family member but rather as an
        honored guest in our home. They are fed the very best and most expensive, nutritionally complete dog foods.
        Rewarded with only the best training treats. Since goldendoodles are such a social animal they will also welcome
        the interaction with other puppies. Put simply: We love goldendoodles and we hope you will love them too!</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_2042645387.jpg"
            alt="Goldendoodle puppy sitting in front of a brick wall." width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1938209365.jpg" alt="Goldendoodle puppy sitting in a basket."
            width="700" height="500">
    </div>
</div>
