@page
@model PoliciesModel
@{
    ViewData["Title"] = "Policies";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>Clean Bill of Health Policy</h2>
    <p class="text-justify">We require that you (the customer) carry your puppy to your own trusted vet to get a “Clean
        Bill of Health” within 72 hours of receipt.</p>
    <h2>Warranty/Refund Policy</h2>
    <p class="text-justify">We stand behind all our goldenoddles, and that is exactly what we will do if your puppy
        becomes ill. The standard warranty is three months which covers almost everything except normal shots, vaccines,
        and things that were the fault of the owners themselves. If your pet becomes seriously ill, however, we will
        stand with you as well by providing you with either the first pick in the next litter or a partial refund (minus
        the initial deposit). As a very small business, my limit of liability must be kept to the actual cost of the dog
        (which generally runs as low as $3,250). For special 3 pedigree dogs, the cost is $3,500 per dog.</p>
    <h2>Behavior Policy</h2>
    <p class="text-justify">We respectfully ask that you not hit or yell at your puppy when it misbehaves. Your
        goldendoodle will crave your attention and may well misinterpret your actions as praise for doing something
        right as opposed to punishment. That means, of course, that your dog is likely going to do things constantly to
        try and get either praise or a toy. Instead of using negative reinforcement, please try your best to ignore bad
        behavior and instead stand ready to praise your pet the second they start doing desired/wanted/good behavior
        that you would like to see continue in the future. Your goldendoodle will quickly figure out which behavior gets
        rewarded and which does not and act accordingly based on positive reinforcement.</p>
    <h2>Privacy Policy</h2>
    <p class="text-justify">We do not sell, trade, license, or otherwise provide any customer data to any third-parties
        except where necessary to process payments. Our payment processor is <a href="https://www.paypal.com/"
            target="_blank">PayPal</a>. The only pieces of personal data that we collect and retain are your first name,
        last name, and phone number so we can contact customers to arrange pick-up for their goldendoodle after the
        balance of their account has been paid. We store this data in a password-protected SQL Server database hosted on
        the Microsoft Azure PaaS (Platform as a Service) product.</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_1393008119.jpg"
            alt="Goldendoodle puppy sitting on a wooden porch." width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1988996090.jpg"
            alt="Goldendoodle puppy digging a hole in the dirt." width="700" height="500">
    </div>
</div>
