@page
@model PuppyWaitingListModel
@{
    ViewData["Title"] = "Puppy Waiting List";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="text-justify">Congratulations! You've reached the page that people often look at first because it will be
        your first chance to pick out the puppy of your dreams and begin your new life together! All it takes to get on
        the waiting list is a non-refundable $500.00 deposit (plus tax, 7.5%). That's a total of $537.50. When you fill
        out the form below and click the "Ready to Pay" button, PayPal payment controls will appear allowing you to pay
        $537.50 through the supported payment method of your choice. We now take <a href="https://venmo.com/"
            target="_blank">Venmo</a>!</p>
    <p class="text-justify padded-paragraph">The waiting list itself requires some explanation. It is designed in such a
        way that customers receive their goldendoodles in the order that they fully pay off the entirety of their
        balance, which is $3,500.00 per puppy. The deposit is $500.00 which lowers your balance to $3,000.00. When that
        balance reaches $0.00 as a result of subsequent future payments, our database automation will automatically
        assign you to the next spot on the waiting list. Subsequent payments will also be charged 7.5% tax. This is not
        pocketed by us as profit - it is passed along to Uncle Sam!</p>
    <div id="information-form">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required="true"><br><br>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required="true"><br><br>
        <label for="phone">10-Digit Phone Number:</label>
        <input type="tel" id="phone" name="phone" required="true"
            title="10 digits only. No letters or symbols."><br><br>
        <input type="button" id="validate-button" value="Ready to Pay" onclick="return validateInput()">
    </div>
    <div id="smart-button-container">
        <div style="text-align: center;">
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_1715015680.jpg" alt="Goldendoodle puppy playing in the grass."
            width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1014511450.jpg" alt="Goldendoodle puppy playing in the grass."
            width="700" height="500">
    </div>
</div>
