@page
@model TrainingModel
@{
    ViewData["Title"] = "Training";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Many breeders suggest that you setup your appointment with a professional trainer. They often suggest that you
        arrange for initial, but limited, training sessions designed to teach the dog owner how to work with their own
        dog before he/she develops bad habits that may carry on for life. Once this is done, you need to think about
        what your dog has already learned and decide if you want further training.</p>
    <p>Goldendoodles are so smart that further training was not necessary in my case. I can assure you that our
        Goldendoodle named Ember is the smartest and easiest dog to train that I have ever had. That means that work
        really isn’t work for me, because I love it! If you would like some initial training for your pet that will
        stick with them for life, the two-week course provided by me is $500.00. Goldendoodles make excellent service
        dogs, and if you have disabilities, infirmities, or other health problems that the dog may help with then I will
        personally lower the cost of any training. Each case will be reviewed individually.</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_1723968841.jpg"
            alt="Goldendoodle puppy playing with a ball on a beach." width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1419270005.jpg"
            alt="Goldendoodle puppy sitting in a wooden bucket." width="700" height="500">
    </div>
</div>
