@page
@model TrainingModel
@{
    ViewData["Title"] = "Training";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Use this page to provide details on your site's privacy policy.</p>
    <p>Tell the users in detail how you will or will not share their data with governments, third parties, etcetera.</p>
    <div class="puppy-display">
        <img class="puppy-img" src="~/img/shutterstock_1723968841.jpg"
            alt="Goldendoodle puppy playing with a ball on a beach." width="700" height="500">
        <img class="puppy-img" src="~/img/shutterstock_1419270005.jpg"
            alt="Goldendoodle puppy sitting in a wooden bucket." width="700" height="500">
    </div>
</div>
